aws_region  = "ap-northeast-2"
project     = "woori-wallet"
service     = "woori"
environment = "prd"
name_prefix = "woori-auth-prd"

state_bucket_name = "woori-wallet-tfstate-655700895912-apne2"

namespace        = "woori"
app_name         = "woori-api"
load_balancer_name = "woori-api-prd"
# load_balancer_target_type = "ip"
# custom_domain_name = "woori-api.example.com"
# route53_zone_name  = "example.com"
image_repository = "655700895912.dkr.ecr.ap-northeast-2.amazonaws.com/our-ai-has-changed/woori-wallet-trial"
image_tag        = "latest"
container_port   = 8000
service_port     = 80
api_throttling_burst_limit = 100
api_throttling_rate_limit  = 50
# jwt_issuer   = "https://issuer.example.com"
# jwt_audience = ["woori-api"]
replicas         = 1

tags = {}
