aws_region        = "ap-northeast-2"
project           = "woori-wallet"
environment       = "prd"
name_prefix       = "woori-wallet-prd"
vpc_cidr          = "10.20.0.0/16"
node_min_size     = 1
node_desired_size = 1
node_max_size     = 1

node_instance_types = ["t3.small"]

tags = {}
