aws_region  = "ap-northeast-2"
project     = "woori-wallet"
service     = "wallet"
environment = "prd"
name_prefix = "woori-wallet-prd"

state_bucket_name = "woori-wallet-tfstate-655700895912-apne2"

namespace        = "wallet"
app_name         = "wallet-api"
image_repository = "655700895912.dkr.ecr.ap-northeast-2.amazonaws.com/our-ai-has-changed/woori-wallet-trial"
image_tag        = "latest"
container_port   = 8080
service_port     = 80
replicas         = 1

tags = {}
